@model IEnumerable<WebApplication2.Models.PhotoData>

@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

@{
    List<List<WebApplication2.Models.PhotoData>> photoLists = new List<List<WebApplication2.Models.PhotoData>>();
    var photoCounterInRow = 0;
    List<WebApplication2.Models.PhotoData> photosRow = new List<WebApplication2.Models.PhotoData>();
    foreach (var photo in Model)
    {
        photosRow.Add(photo);
        photoCounterInRow++;
        if (photoCounterInRow >= 4)
        {
            photoLists.Add(photosRow);
            photosRow = new List<WebApplication2.Models.PhotoData>();
            photoCounterInRow = 0;
        }
    }
    photoLists.Add(photosRow);
}
<div class="container">
    @foreach (var listPhotoData in photoLists)
    {
    <div class="row">
        @foreach (var photoData in listPhotoData)
        {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@{ViewBag.RootPath + "/" + photoData.Year + "/" + photoData.Month + "/" + photoData.Name;}" alt="photo">
                <div class="caption">
                    <h3>@photoData.Name</h3>
                    <p>@{photoData.Month + "/" + photoData.Year;}</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        }
    </div>
    }
</div>

