<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Handler" value="D:\Users\seanz\source\repos\MyNewService\WebApplication2\PhotosDirectories\listening1;D:\Users\seanz\source\repos\MyNewService\WebApplication2\PhotosDirectories\listening2" />
      <add key="OutputDir" value="D:\Users\seanz\source\repos\MyNewService\WebApplication2\PhotosDirectories\Gallery" />
      <add key="SourceName" value="ImageServiceSource" />
      <add key="LogName" value="ImageServiceLog" />
      <add key="ThumbnailSize" value="120" />
    </appSettings>
</configuration>